<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456589277103-0109uje5b9hamkgck31a9mqpk2btj8rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456589277103-0109uje5b9hamkgck31a9mqpk2btj8rr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>456589277103-pmipl48in3k3n2v3hllgof34h209r6cj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4T4NSNEvmDIvCXm_Wv-k0CLUBFf-rCyg</string>
	<key>GCM_SENDER_ID</key>
	<string>456589277103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tudoflix</string>
	<key>PROJECT_ID</key>
	<string>tudoflix-c60d7</string>
	<key>STORAGE_BUCKET</key>
	<string>tudoflix-c60d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456589277103:ios:b1c565258a7288b1d4215a</string>
</dict>
</plist>